
body {
    font-family: 'Roboto Condensed', sans-serif;
}

img { 
    width: 100px;
    height: 100px;
    margin: 40px; 
    border: 1px solid black;
}

.jumbotron {
    background-color: lightblue;
}