
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(../images/congruent_pentagon.png);
}

img { 
    width: 100px;
    height: 100px;
    margin: 40px; 
    border: 1px solid black;
}

.jumbotron {
    background-color:#1C2833;
    color: #ABEBC6;
    margin-bottom: 0px;
}

.score-board {
    background-color:#FEF5E7;
    text-align: center;
    padding-top: 20px;
}
